<a href="https://colab.research.google.com/github/nicolenahyun/Section1_project/blob/main/n232-data-wrangling/n232a-data-wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 3 / NOTE 2*

# ğŸ“ Assignment
---
# Data Wrangling

### 1) ì§€ì†ì ìœ¼ë¡œ ì—¬ëŸ¬ë¶„ì˜ í¬íŠ¸í´ë¦¬ì˜¤ ë°ì´í„°ë¥¼ ë­ê¸€ë§ í•˜ì„¸ìš”
- ì—¬ëŸ¬ë¶„ì´ ì„ íƒí•œ ë°ì´í„°ë“¤ì„ ë­ê¸€ë§í•˜ì—¬ ëª¨ë¸ì„ ë§Œë“¤ê¸° ìœ„í•œ í…Œì´ë¸” í˜•íƒœì˜ ë°ì´í„°ë¡œ ë§Œë“¤ì–´ ë³´ì„¸ìš”.
- **ë‹¤ìŒ í•¨ìˆ˜ì˜ resultë¥¼ ì™„ì„±ì‹œí‚¤ê³  ë¦¬í„´ê°’ì„ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [2]:
### ì´ê³³ì—ì„œ ì œì¶œí¼ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

In [3]:
df

                        SN  ...  Price
Purchase ID                 ...
0                  Lisim78  ...   3.53
1              Lisovynya38  ...   1.56
2               Ithergue48  ...   4.88
3            Chamassasya86  ...   3.27
4                Iskosia90  ...   1.44
...                    ...  ...    ...
775             Aethedru70  ...   3.54
776                 Iral74  ...   1.63
777             Yathecal72  ...   3.46
778                Sisur91  ...   4.19
779              Ennrian78  ...   4.60

[780 rows x 6 columns]

In [6]:
## ë‹¤ìŒ result í•¨ìˆ˜ ì•ˆì— male, female ë³€ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.(groupby, get_groupì„ ì‚¬ìš©í•˜ì„¸ìš”.)
## sum_male: Age = 20, Gender = "Male" ê·¸ë£¹ì˜ Priceë¥¼ í•©í•˜ì„¸ìš”.
## sum_female: Age = 20, Gender = "Female" ê·¸ë£¹ì˜ Priceë¥¼ í•©í•˜ì„¸ìš”.

def result(df):

    sum_male = df[df.Age == 20].groupby('Gender').Price.sum()[1]
    sum_female = df[df.Age == 20].groupby('Gender').Price.sum()[0]

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.20000000000005, sum_female: 43.730000000000004

304

In [ ]:
### ì´ê³³ì—ì„œ ë³¸ì¸ ë°ì´í„°ë¡œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###

### 2) ìƒˆë¡œ íŠ¹ì§•ë“¤ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”
- ì—¬ëŸ¬ë¶„ì´ ì„ íƒí•œ ë°ì´í„°ì—ì„œ íŠ¹ì§• ê³µí•™ì„ ìˆ˜í–‰í•´ ë³´ì„¸ìš”.
- **(ë‹¤ì¤‘ì„ íƒ) purchase_dataë¥¼ ë­ê¸€ë§í•˜ì—¬ ë‹¤ìŒ ì¡°ê±´ì„ ê³„ì‚°í•˜ê³  ê²°ê³¼ê°€ ì˜¬ë°”ë¥¸ í•­ëª©ë§Œ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**
    1. ë‚˜ì´ 1-20ì„¸ ê·¸ë£¹(20ì„¸ í¬í•¨)ì˜ í‰ê·  PriceëŠ” 3.101818ì´ë‹¤.
    2. ë‚˜ì´ 21-50ì„¸ ê·¸ë£¹ì˜ í‰ê·  PriceëŠ” 3.021559ì´ë‹¤.
    3. ê°€ì¥ ë§ì´ êµ¬ì…í•œ ì•„ì´í…œì˜ IDëŠ” 178 ì´ë‹¤.
    4. ë‘ë²ˆì§¸ë¡œ ë§¤ì¶œì„ ë§ì´ ë‚¸ ì•„ì´í…œ IDëŠ” 145ì´ë‹¤.

In [17]:
### ì´ê³³ì—ì„œ ì œì¶œí¼ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###
# ê·¸ë£¹ë³„ Price í‰ê· 
group1 = df[(0 < df['Age']) & (df['Age'] <= 20)].Price.mean()
group2 = df[(20 < df['Age']) & (df['Age'] <= 50)].Price.mean()
print(group1), print(group2)

# íŒë§¤ìˆ˜ ìƒìœ„ Item ID == 178
df['Item ID'].mode()

# ë§¤ì¶œ ìƒìœ„ Item IDs == 82
df['Item ID'].value_counts()

### ë‹µ = 1, 2, 3

3.101818181818184
3.0215587044534415

178    12
82      9
108     9
145     9
92      8
       ..
42      1
118     1
104     1
27      1
51      1
Name: Item ID, Length: 183, dtype: int64

In [ ]:
### ì´ê³³ì—ì„œ ë³¸ì¸ ë°ì´í„°ë¡œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###

## ğŸ”¥ ë„ì „ê³¼ì œ

### 3) ì¡°ê¸ˆ ë¶€ì¡±í•˜ë”ë¼ë„ ìµœì†Œí•œì˜ ë­ê¸€ë§ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì¤€ë¹„í•˜ì—¬ ê°„ë‹¨í•œ ëª¨ë¸ì„ í•™ìŠµì‹œì¼œ ë³´ì„¸ìš”
- ì—¬ëŸ¬ë¶„ë“¤ì´ ì„ íƒí•œ ë°ì´í„°ë¥¼ ê°€ì§€ê³  ê°„ë‹¨í•œ ëª¨ë¸ì„ í•™ìŠµí•˜ê³  ê²°ê³¼ë¥¼ ë¦¬í¬íŒ… í•©ë‹ˆë‹¤.