<a href="https://colab.research.google.com/github/nicolenahyun/Section1_project/blob/main/n232-data-wrangling/n232a-data-wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 3 / NOTE 2*

# üìù Assignment
---
# Data Wrangling

### 1) ÏßÄÏÜçÏ†ÅÏúºÎ°ú Ïó¨Îü¨Î∂ÑÏùò Ìè¨Ìä∏Ìè¥Î¶¨Ïò§ Îç∞Ïù¥ÌÑ∞Î•º Îû≠Í∏ÄÎßÅ ÌïòÏÑ∏Ïöî
- Ïó¨Îü¨Î∂ÑÏù¥ ÏÑ†ÌÉùÌïú Îç∞Ïù¥ÌÑ∞Îì§ÏùÑ Îû≠Í∏ÄÎßÅÌïòÏó¨ Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞ ÏúÑÌïú ÌÖåÏù¥Î∏î ÌòïÌÉúÏùò Îç∞Ïù¥ÌÑ∞Î°ú ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî.
- **Îã§Ïùå Ìï®ÏàòÏùò resultÎ•º ÏôÑÏÑ±ÏãúÌÇ§Í≥† Î¶¨ÌÑ¥Í∞íÏùÑ Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [2]:
### Ïù¥Í≥≥ÏóêÏÑú Ï†úÏ∂úÌèº Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

In [3]:
df

                        SN  ...  Price
Purchase ID                 ...
0                  Lisim78  ...   3.53
1              Lisovynya38  ...   1.56
2               Ithergue48  ...   4.88
3            Chamassasya86  ...   3.27
4                Iskosia90  ...   1.44
...                    ...  ...    ...
775             Aethedru70  ...   3.54
776                 Iral74  ...   1.63
777             Yathecal72  ...   3.46
778                Sisur91  ...   4.19
779              Ennrian78  ...   4.60

[780 rows x 6 columns]

In [6]:
## Îã§Ïùå result Ìï®Ïàò ÏïàÏóê male, female Î≥ÄÏàòÎ•º Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî.(groupby, get_groupÏùÑ ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî.)
## sum_male: Age = 20, Gender = "Male" Í∑∏Î£πÏùò PriceÎ•º Ìï©ÌïòÏÑ∏Ïöî.
## sum_female: Age = 20, Gender = "Female" Í∑∏Î£πÏùò PriceÎ•º Ìï©ÌïòÏÑ∏Ïöî.

def result(df):

    sum_male = df[df.Age == 20].groupby('Gender').Price.sum()[1]
    sum_female = df[df.Age == 20].groupby('Gender').Price.sum()[0]

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.20000000000005, sum_female: 43.730000000000004

304

In [18]:
### Ïù¥Í≥≥ÏóêÏÑú Î≥∏Ïù∏ Îç∞Ïù¥ÌÑ∞Î°ú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ### 
from google.colab import files
uploaded = files.upload()

Saving redwine_quality.csv to redwine_quality.csv

In [22]:
import io
df =pd.read_csv(io.StringIO(uploaded['redwine_quality.csv'].decode('utf-8', 'ignore')))

In [23]:
df

# 1 - fixed acidity: most acids involved with wine or fixed or nonvolatile (do not evaporate readily)
# 2 - volatile acidity(ÌúòÎ∞úÏÑ± ÏÇ∞): the amount of acetic acid in wine, which at too high of levels can lead to an unpleasant, vinegar taste
# 3 - citric acid: found in small quantities, citric acid can add ‚Äòfreshness‚Äô and flavor to wines
# 4 - residual sugar: the amount of sugar remaining after fermentation stops, it‚Äôs rare to find wines with less than 1 gram/liter and wines with greater than 45 grams/liter are considered sweet
# 5 - chlorides: the amount of salt in the wine
# 6 - free sulfur dioxide: the free form of SO2 exists in equilibrium between molecular SO2 (as a dissolved gas) and bisulfite ion; it prevents microbial growth and the oxidation of wine
# 7 - total sulfur dioxide: amount of free and bound forms of S02; in low concentrations, SO2 is mostly undetectable in wine, but at free SO2 concentrations over 50 ppm, SO2 becomes evident in the nose and taste of wine
# 8 - density(ÏôÄÏù∏Ïùò Î¨¥Í≤åÍ∞ê): the density of water is close to that of water depending on the percent alcohol and sugar content
# 9 - pH: describes how acidic or basic a wine is on a scale from 0 (very acidic) to 14 (very basic); most wines are between 3-4 on the pH scale
# 10 - sulphates: a wine additive which can contribute to sulfur dioxide gas (S02) levels, wich acts as an antimicrobial and antioxidant
# 11 - alcohol: the percent alcohol content of the wine
# Output variable (based on sensory data): 12 - quality (score between 0 and 10)

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [24]:
target = 'quality'
train = pd.merge(pd.read_csv('redwine_quality.csv'), 
                 pd.read_csv('redwine_quality.csv')[target], left_index=True, right_index=True)
test = pd.read_csv('redwine_quality.csv')

In [26]:
train.shape, test.shape

((1599, 13), (1599, 12))

### 2) ÏÉàÎ°ú ÌäπÏßïÎì§ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî
- Ïó¨Îü¨Î∂ÑÏù¥ ÏÑ†ÌÉùÌïú Îç∞Ïù¥ÌÑ∞ÏóêÏÑú ÌäπÏßï Í≥µÌïôÏùÑ ÏàòÌñâÌï¥ Î≥¥ÏÑ∏Ïöî.
- **(Îã§Ï§ëÏÑ†ÌÉù) purchase_dataÎ•º Îû≠Í∏ÄÎßÅÌïòÏó¨ Îã§Ïùå Ï°∞Í±¥ÏùÑ Í≥ÑÏÇ∞ÌïòÍ≥† Í≤∞Í≥ºÍ∞Ä Ïò¨Î∞îÎ•∏ Ìï≠Î™©Îßå Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**
    1. ÎÇòÏù¥ 1-20ÏÑ∏ Í∑∏Î£π(20ÏÑ∏ Ìè¨Ìï®)Ïùò ÌèâÍ∑† PriceÎäî 3.101818Ïù¥Îã§.
    2. ÎÇòÏù¥ 21-50ÏÑ∏ Í∑∏Î£πÏùò ÌèâÍ∑† PriceÎäî 3.021559Ïù¥Îã§.
    3. Í∞ÄÏû• ÎßéÏù¥ Íµ¨ÏûÖÌïú ÏïÑÏù¥ÌÖúÏùò IDÎäî 178 Ïù¥Îã§.
    4. ÎëêÎ≤àÏß∏Î°ú Îß§Ï∂úÏùÑ ÎßéÏù¥ ÎÇ∏ ÏïÑÏù¥ÌÖú IDÎäî 145Ïù¥Îã§.

In [17]:
### Ïù¥Í≥≥ÏóêÏÑú Ï†úÏ∂úÌèº Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###
# Í∑∏Î£πÎ≥Ñ Price ÌèâÍ∑†
group1 = df[(0 < df['Age']) & (df['Age'] <= 20)].Price.mean()
group2 = df[(20 < df['Age']) & (df['Age'] <= 50)].Price.mean()
print(group1), print(group2)

# ÌåêÎß§Ïàò ÏÉÅÏúÑ Item ID == 178
df['Item ID'].mode()

# Îß§Ï∂ú ÏÉÅÏúÑ Item IDs == 82
df['Item ID'].value_counts()

### Îãµ = 1, 2, 3

3.101818181818184
3.0215587044534415

178    12
82      9
108     9
145     9
92      8
       ..
42      1
118     1
104     1
27      1
51      1
Name: Item ID, Length: 183, dtype: int64

In [28]:
# Ìô© ÌôîÌï©Î¨º : Ìô© ÌôîÌï©Î¨ºÏùÄ ÏõêÌïòÏßÄ ÏïäÎäî Î∞ïÌÖåÎ¶¨ÏïÑÏôÄ Ìö®Î™®Î•º Ï£ΩÏó¨ÏÑú ÏôÄÏù∏ÏùÑ Ïò§Îûò Î≥¥Í¥ÄÌïòÎäî Ïó≠Ìï† (free sulfur dioxide, total sulfur, dioxide sulphates) -> feature engineering
# sulfur compounds = free sulfur dioxide + total sulfur dioxide + sulphates
df['sulfur compounds'] = df['free sulfur dioxide'] + df['total sulfur dioxide'] + df['sulphates']
df

      fixed acidity  volatile acidity  ...  quality  sulfur compounds
0               7.4             0.700  ...        5             45.56
1               7.8             0.880  ...        5             92.68
2               7.8             0.760  ...        5             69.65
3              11.2             0.280  ...        6             77.58
4               7.4             0.700  ...        5             45.56
...             ...               ...  ...      ...               ...
1594            6.2             0.600  ...        5             76.58
1595            5.9             0.550  ...        6             90.76
1596            6.3             0.510  ...        6             69.75
1597            5.9             0.645  ...        5             76.71
1598            6.0             0.310  ...        6             60.66

[1599 rows x 13 columns]

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú

### 3) Ï°∞Í∏à Î∂ÄÏ°±ÌïòÎçîÎùºÎèÑ ÏµúÏÜåÌïúÏùò Îû≠Í∏ÄÎßÅÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï§ÄÎπÑÌïòÏó¨ Í∞ÑÎã®Ìïú Î™®Îç∏ÏùÑ ÌïôÏäµÏãúÏºú Î≥¥ÏÑ∏Ïöî
- Ïó¨Îü¨Î∂ÑÎì§Ïù¥ ÏÑ†ÌÉùÌïú Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÄÍ≥† Í∞ÑÎã®Ìïú Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ≥† Í≤∞Í≥ºÎ•º Î¶¨Ìè¨ÌåÖ Ìï©ÎãàÎã§.